[submodule "src/faust-libraries"]
	path = src/faust-libraries
	url = https://github.com/s-e-a-m/faust-libraries.git
[submodule "src/fc1991lmml"]
	path = src/fc1991lmml
	url = https://github.com/s-e-a-m/fc1991lmml.git
[submodule "src/fc1969lais"]
	path = src/fc1969lais
	url = https://github.com/s-e-a-m/fc1969lais.git
[submodule "src/fc1987nlre"]
	path = src/fc1987nlre
	url = https://github.com/s-e-a-m/fc1987nlre.git
